.nav-banner__links {
  margin: 0;
  font-size: 2.5rem;

  a {
    padding: 0 1rem;
  }
}

.a-custom-bottom {
  color: $c-white;
  text-decoration: none;

  &:visited {
    color: $c-white;
    text-decoration: none;
  }

  &:hover {
    color: $c-gray;
    text-decoration: none;
  }

  &:active {
    color: $c-white;
    text-decoration: none;
  }
}

.a-custom-top {
  color: $c-black;
  text-decoration: none;

  &:visited {
    color: $c-black;
    text-decoration: none;
  }

  &:hover {
    color: $c-gray;
    text-decoration: none;
  }

  &:active {
    color: $c-black;
    text-decoration: none;
  }
}
